.grey {
    background-color: rgba(34, 34, 34, 0.03);
    width: 40%;
    height: 57vh;
    padding: 7%
}
.cu {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    text-align: left;
}
.hav{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

.h5kon{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    color: #FFFFFF;
}

.kon1{
    margin: 5%;
}
.tkon{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
}
.tkon1{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.tkon2{
    width: 100%;
    border: 1px solid #E0E0E0;
}
.btnkon{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
   
    color: white;
    width: 100%;
    height: 100%;
    background: #381DDB;
border-radius: 8px;
}
.btnkon:hover{
    box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.6), 0 0 8px 0 rgba(0, 0, 0, 0.5);
}
.k2{
    background-color: rgba(34, 34, 34, 1);
    width: 100%;

}
.mus{
    margin-left: 20%;
    padding: 5%;
}
.konec{display: flex;
justify-content: space-around;}
.d2{
    display: flex;
    justify-content: space-between;
    width: 25%;
}