.cardD{
   
    min-width: 430px;
   
   
}
.textcd{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    margin: 3vh;
   
}
.textcardd{
    background-color: rgba(93, 92, 92,0.1);
   
   padding: 3vh;
}
.photocard{
    padding-left:20vh;
    margin-top: -2vh;
    
}
.namecard{
     padding-left:22vh;
}