.logoHead {
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Montserrat-Bold';
    float: left;
    padding: 0 40vh 0 0;
}

.menuHead {
    float: right;
    padding: 5vh 0 0 0;

}

.firstMenuUn,
.firstMenu {
    margin-right: 5vh;
    background-color: transparent;
    border: none;
    color: white;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.firstMenuUn {
    color: blue;
    background-color: white;
    border-radius: 1vh;
    box-shadow: inset 0 0 0 0 rgba(0, 255, 255, 0.2);
    padding: 2vh;

}
.firstMenuUn :hover{ box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.6), 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.dropbtn {
    color: white;
    border: none;
    margin-right: 5vh;
    background-color: transparent;
    border: none;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);


    z-index: 1;
}

.dropdown-content a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}