.textScheduleFirst{
    display: flex;
    justify-content: space-between;
}
.contentSchedule {
    position: relative;

    padding: 2%;
    border-radius: 10px;
    width: 100%;

    margin: 5% 0% 0% 0%;
    border: 1px solid rgba(56, 29, 219, 0.5);
    display: none;

}

.contentSchedule:target {
    display: block;
}

.textSchedule {
    display: flex;
    position: relative;
    justify-content: space-around;
    background-color: rgba(56, 29, 219, 0.05);
    padding: 5vh 0vh 5vh 0vh;

}

.textScheduleDiv {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: rgba(34, 34, 34, 1)
}

.firstColomn {
    display: flex;
    position: relative;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(34, 34, 34, 1);
    width: 25%;

}

.secondColomn {
    display: flex;
    position: relative;
    width: 25%;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.firdColomn {
    display: flex;
    position: relative;
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3%;
    flex-direction: column;

}

.fothColomn {
    display: flex;
    justify-content: center;
    position: relative;
    width: 25%;
    align-items: center;


}

.firdColomnContentName {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;


}

.firdColomnContentTitle {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: gray;
}

#imgplay {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 19.5px;
    text-align: right;
    position: relative;
    bottom: 20%;

}

#imgplayi {
    position: relative;
    top: 15%;

}

#polosa {
    width: 100%;
    height: 2px;
    background-color: rgba(34, 34, 34, 0.05);
    ;
}

.allfird {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 3%;


}

#day2:checked~#contentSchedule2 {
    display: block;
}