.follow{
    display: flex;
    justify-content: space-around;
}
.folBut{
    position: absolute;
    left: 94%;
    top:45%;
   z-index: 11;
}
.folBut1{
    position: absolute;
    right: 94%;
    top:45%;
   z-index: 11;
}