.firstForm{
position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

}
.secondForm{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
   
}
.firdForm{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 200%;
    margin: 0vh 0vh 0vh 15vh;
   
}
.fothForm{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 300%;
}
.fiveForm{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 400%;
    background: linear-gradient(180deg, rgba(56, 29, 219, 0.05) 0%, rgba(56, 29, 219, 0) 100%);
}
.sixForm{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 585%;
}
.sevenForm{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 685%;
    
}
.eightForm{
   
    height: 100%;
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 785%;
    margin: 20vh;
    display:block;
    width: 100%;
    margin-left: 1vh;
   
}
.nineForm{
    height: 100%;
    background: white;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 885%;
    margin: 20vh;
    display:block
}
.tenForm{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 985%;
    margin-top: 10vh;
}